<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/actionbar"
        tools:targetApi="31"
        tools:ignore="LockedOrientationActivity">

        <!--Splash Screen-->
        <activity
            android:name=".registro.SplashScreen"
            android:exported="true"
            android:theme="@style/splashScreen"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- Login -->
        <activity
            android:name=".registro.Login"
            android:exported="false"
            android:theme="@style/noActionbar"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- Registro -->
        <activity
            android:name=".registro.Registro"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- Profile -->
        <activity
            android:name=".registro.Profile"
            android:exported="false"
            android:label="@string/title_profile"
            android:screenOrientation="portrait"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

    </application>

</manifest>